<div class="header">
    <a href="#test">
        {{>logo}}
    </a>
    <nav class="header-nav">
        <div class="header-nav-right">
            {{>nav list=header}}
        </div>
    </nav>
</div>


{{#with hero}}
<div class="hero">
    <div class="hero-content">
        <h1 class="hero-title"> {{title}} </h1>
        <p class="hero-text"> {{text}} </p>
    </div>
    <div class="hero-slider">
        <div class="hero-slider-icon hero-slider-left">{{left}}</div>
        <img src="{{photo}}" alt="hero-image" class="hero-image">
        <div class="hero-slider-icon hero-slider-rigth">{{rigth}}</div>
    </div>
</div>
{{/with}}

<input type="text" class="input">

<div class="modal">
    {{hero.text}} {{hero.text}}
    {{!-- <img src="{{hero.photo}}" alt="hero-image" class="modal-image"> --}}
    <div class="modal-text">{{hero.text}} {{hero.text}}</div>
</div>

<main class="blog">
    {{#each blog}}
    {{>cardBlog data=this}}
    {{/each}}
</main>

{{#with form}}
<div class="form">
    <div class="form-content">
        <h3 class="form-title">{{title}}</h3>
        <p class="form-info">{{info}}</p>
    </div>
    <div class="form-action">
        <a class="button form-button" href="{{href}}">{{button}}</a>
    </div>
</div>
{{/with}}

<div class="footer" id="test">
    <div>
        {{>logo}}
        <span class="footer-copyright">Copyright 2023-2024</span>
    </div>

    {{#each footer}}
    <div>
        <span class="footer-title">{{title}}</span>
        {{>nav list=links isVertical=true}}
    </div>
    {{/each}}
</div>